---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

// Get the three latest posts
var latestPosts = publishedBlogEntries.slice(0, 3);

---

<div class="mt-16 mb-16">
    <h2 class="text-4xl lg:text-5xl text-center font-bold lg:tracking-tight">
        Blog
    </h2>
</div>
<div class="mb-16">
    <ul class="grid grid-cols-1 lg:grid-cols-3 gap-16 mx-auto">
        {
          latestPosts.map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid md:grid-row-2 gap-5 md:gap-10 items-center">
                  <Picture
                    src={blogPostEntry.data.image.src}
                    alt={blogPostEntry.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    widths={[200, 400, 800]}
                    aspectRatio="16:9"
                    background="#ffffff"
                    fit="cover"
                    position="center"
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md"
                  />
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {blogPostEntry.data.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {blogPostEntry.data.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400">
                        {blogPostEntry.data.author}
                      </span>
                      <span class="text-gray-400">• </span>
                      <time
                        class="text-gray-400"
                        datetime={blogPostEntry.data.publishDate.toISOString()}>
                        {blogPostEntry.data.publishDate.toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <div class="text-center mt-8">
        <a
          href="/blog"
          class="bg-white px-5 py-3 rounded-md hover:bg-white-200 transition"
          >See Other Post →</a
        >
      </div>
</div>