---
// @ts-ignore
import { Icon } from "astro-icon";

const tutorial = [
  {
    title: "Registrasi Akun",
    video: "https://www.youtube.com/embed/e0AO2-oA31U",
    id: "#Registrasi-Akun",
    id2: "Registrasi-Akun",
  },
  {
    title: "Beranda Aplikasi AccounTax",
    video: "https://www.youtube.com/embed/V_kO2xOiQB4",
    id: "#Beranda-Aplikasi-AccounTax",
    id2: "Beranda-Aplikasi-AccounTax",
  },
  {
    title: "Menginput ke Master Data",
    video: "https://www.youtube.com/embed/pKaykk4ZRuk",
    id: "#Menginput-ke-Master-Data",
    id2: "Menginput-ke-Master-Data",
  },
  {
    title: "Menginput Pembelian Barang Dagang Tunai",
    video: "https://www.youtube.com/embed/EVBmg_5xoCE",
    id: "#Menginput-Pembelian-Barang-Dagang-Tunai",
    id2: "Menginput-Pembelian-Barang-Dagang-Tunai",
  },
  {
    title: "Menginput Pembelian Barang Dagang Kredit",
    video: "https://www.youtube.com/embed/TVJ2RZBZboA",
    id: "#Menginput-Pembelian-Barang-Dagang-Kredit",
    id2: "Menginput-Pembelian-Barang-Dagang-Kredit",
  },
  {
    title: "Menginput Pembelian Peralatan Tunai",
    video: "https://www.youtube.com/embed/kHlFrAlMJ1Q",
    id: "#Menginput-Pembelian-Peralatan-Tunai",
    id2: "Menginput-Pembelian-Peralatan-Tunai",
  },
  {
    title: "Menginput Pembelian Peralatan Kredit",
    video: "https://www.youtube.com/embed/E3AKpEY27EQ",
    id: "#Menginput-Pembelian-Peralatan-Kredit",
    id2: "Menginput-Pembelian-Peralatan-Kredit",
  },
  {
    title: "Menginput Pembelian Perlengkapan Tunai",
    video: "https://www.youtube.com/embed/nIbcIbJ-ZWo",
    id: "#Menginput-Pembelian-Perlengkapan-Tunai",
    id2: "Menginput-Pembelian-Perlengkapan-Tunai",
  },
  {
    title: "Menginput Pembelian Perlengkapan Kredit",
    video: "https://www.youtube.com/embed/fqjx_GYScME",
    id: "#Menginput-Pembelian-Perlengkapan-Kredit",
    id2: "Menginput-Pembelian-Perlengkapan-Kredit",
  },
  {
    title: "Menginput Penjualan Barang Dagang Tunai",
    video: "https://www.youtube.com/embed/LqinxyQDQoc",
    id: "#Menginput-Penjualan-Barang-Dagang-Tunai",
    id2: "Menginput-Penjualan-Barang-Dagang-Tunai",
  },
  {
    title: "Menginput Penjualan Barang Dagang Kredit",
    video: "https://www.youtube.com/embed/4KToLRMdC0M",
    id: "#Menginput-Penjualan-Barang-Dagang-Kredit",
    id2: "Menginput-Penjualan-Barang-Dagang-Kredit",
  },
  {
    title: "Menginput Transaksi Penerimaan Kas",
    video: "https://www.youtube.com/embed/ilTpgG5Jiho",
    id: "#Menginput-Transaksi-Penerimaan-Kas",
    id2: "Menginput-Transaksi-Penerimaan-Kas",
  },
  {
    title: "Menginput Transaksi Pengeluaran Kas",
    video: "https://www.youtube.com/embed/m0aoawNj2Q8",
    id: "#Menginput-Transaksi-Pengeluaran-Kas",
    id2: "Menginput-Transaksi-Pengeluaran-Kas",
  },
  {
    title: "Menyajikan Laporan Keuangan",
    video: "https://www.youtube.com/embed/OA8Z9BOFmTE",
    id: "#Menyajikan-Laporan-Keuangan",
    id2: "Menyajikan-Laporan-Keuangan",
  },
  {
    title: "Menyajikan Laporan Utang Piutang",
    video: "https://www.youtube.com/embed/etBrGBiUr2o",
    id: "#Menyajikan-Laporan-Utang-Piutang",
    id2: "Menyajikan-Laporan-Utang-Piutang",
  },
  {
    title: "Menyajikan Laporan Perpajakan",
    video: "https://www.youtube.com/embed/fxLrq-rML3o",
    id: "#Menyajikan-Laporan-Perpajakan",
    id2: "Menyajikan-Laporan-Perpajakan",
  },
];
---

<div class="mt-8">
  <h2 class="text-2xl lg:text-4xl font-bold lg:tracking-tight">Indeks</h2>
  <p class="text-lg lg:text-xl lg:tracking-tight">
    Klik tutorial yang Anda inginkan
  </p>
</div>
<div
  class="grid grid-cols-1 lg:grid-cols-3 items-center justify-center mt-8 gap-4 lg:gap-8 mx-2 my-2 text-left">
  <a class="underline decoration-inherit" href="#Mengunduh-Aplikasi"
    >Mengunduh Aplikasi</a
  >
  {
    tutorial.map((step) => (
      <a class="underline decoration-inherit" href={step.id}>
        {step.title}
      </a>
    ))
  }
</div>

<div class="mt-8">
  <h2
    class="text-2xl lg:text-4xl font-bold lg:tracking-tight anchor"
    id="Mengunduh-Aplikasi">
    Mengunduh Aplikasi
  </h2>
</div>

<div class="grid grid-cols-1 mt-8 gap-8 mx-8">
  <ol class="list-decimal text-base lg:text-xl">
    <li>
      Buka Google Play Store: Pastikan perangkat Android Anda terhubung ke
      internet, lalu buka Google Play Store.
    </li>
    <li>
      Cari aplikasi AccounTax: Ketik "AccounTax" di kotak
      pencarian dan tekan tombol "Cari" atau ikon kaca pembesar pada keyboard.
    </li>
    <li>
      Pilih aplikasi AccounTax: Setelah Anda melakukan pencarian, Google Play
      Store akan menampilkan beberapa hasil. Cari aplikasi AccounTax yang tepat
      dan pastikan itu adalah aplikasi yang diinginkan.
    </li>
    <li>
      Ketuk tombol "Instal": Ketuk tombol "Instal" yang biasanya terletak di bawah ikon aplikasi dan
      deskripsi.
    </li>
    <li>
      Izinkan akses yang diperlukan: Setelah Anda mengetuk tombol "Instal",
      Google Play Store akan meminta akses ke beberapa fungsi atau informasi
      pada perangkat Anda. 
    </li>
    <li>
      Tunggu proses unduhan: Tunggu sampai proses unduhan selesai. Lamanya waktu ini akan
      bervariasi tergantung pada ukuran aplikasi dan kecepatan koneksi internet
      Anda.
    </li>
    <li>
      Buka aplikasi AccounTax: Setelah unduhan selesai, Anda akan melihat tombol
      "Buka" di tempat tombol "Instal". Ketuk tombol "Buka" untuk menjalankan
      aplikasi AccounTax. 
    </li>
    <!-- ... -->
  </ol>
</div>
<div class="mb-16">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    {
      tutorial.map((step) => (
        <div class="grid grid-cols-1">
          <div class="pt-8 mb-8 h-16">
            <h2
              class="text-2xl lg:text-4xl font-bold lg:tracking-tight anchor pe-4"
              id={step.id2}>
              {step.title}
            </h2>
          </div>
          <div class="flex justify-center items-center mt-8 gap-8 lazy">
            <iframe
              width="720"
              height="480"
              src={step.video}
              title={step.title}
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
              loading="lazy"
            />
          </div>
        </div>
      ))
    }
  </div>
  <style>
    .anchor {
      padding-top: 100pt;
      margin-top: -100pt;
    }
  </style>
</div>
